
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field class="example-full-width">
          <input type="text" id="email" matInput placeholder="Enter your email" formControlName="email" required>
      </mat-form-field>
      <mat-error
        *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block">
        {{getEmailErrorMessage()}}</mat-error>

      <mat-form-field class="example-full-width">
        <!-- <input
          matInput
          type="text"
          id="password"
          placeholder="Password"
          formControlName="password"
          class="form-control"> -->
          <input type="password" id="password" matInput placeholder="Enter your password" formControlName="password" required>
      </mat-form-field> 
      <mat-error
      *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
      {{getPasswordErrorMessage()}}</mat-error>     
      <!-- <span
        *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
        <p>Please enter a valid password</p></span> -->


    </div>
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-primary center-block"
      type="submit">Login</button>
      <span 
        *ngIf="loginInvalid" class="help-block">
        <p>Invalid login</p>
      </span>
    </form>


