<app-header [apptitle]='title'>
  <div class="container main show-outlet">
  </div>
</app-header>

<div class="row">
  <div class="col-md-12">
    <h1 *ngIf="!sierendeElementen">Loading ...</h1>

    <ul class="list-group">
      <li *ngFor="let se of sierendeElementen; let i = index">
        <div class="card-container">
          <a href="#" [routerLink]="['/details', i]" class="list-group-item list-group-item-action">
            <div class="card text-white bg-dark mb-3">
              <img class="card-img-top" src="{{se.url}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{se.omschrijving}}</p>
              </div>
            </div>
          </a>          
        </div>
      </li>
    </ul>
  </div>
</div>
