<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <!--<label for="username">Username</label>-->
      <input
        type="text"
        id="username"
        placeholder="username"
        formControlName="username"
        class="form-control">
      <span
        *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" class="help-block">
      <p>Please enter a valid username</p></span>

      <!--<label for="password">password</label>-->
      <input
        type="text"
        id="password"
        placeholder="Password"
        formControlName="password"
        class="form-control">
      <span
        *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
        <p>Please enter a valid password</p></span>

    </div>
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-primary center-block"
      type="submit">Login</button>
      <span 
        *ngIf="loginInvalid" class="help-block">
        <p>Invalid login</p>
      </span>
    </form>
</div>
</div>

