<h2>{{title}}</h2>

<div *ngIf="users" class="row">
  <table class="table table-hover">
    <thead>
      <th>Idx</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr 
        *ngFor="let user of users; let i = index" 
        app-user-item
        [selectedUser]="user" 
        [index]="i"
        >

        <!-- <td>{{ i + 1 }}</td>
        <td><a href="#" [routerLink]="[i]">
          {{user.name.title}} {{ user.name.first | titlecase }} {{user.name.last | titlecase}}
          </a>
        </td>
        <td>{{ user.email }}</td> -->

      </tr>

    </tbody>
  </table>
</div>

<div *ngIf="!users">
  <p>No users found. Loading...</p>
</div>
<!-- <pre>
{{ users | json }}
</pre> -->
