<!-- Tabel met users hier -->

<table class="table table-striped table-hover">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let id = index">
      <td>{{ id + 1 }}</td>
      <td>
        <a href="#" routerLink="{{id}}">{{ user.name.title }} {{ user.name.first | titlecase }} {{ user.name.last | titlecase }}</a>
      </td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<!-- <pre>
  {{ users | json }}
</pre> -->