<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
  </div>
  <div class="col">
    <button 
    type="button" 
    class="btn btn-outline-warning float-right" 
    routerLink='..'
    >Cancel
  </button>
  <button 
    type="button" 
    class="btn btn-success float-right" 
    (click)="saveUser()"
  >Save
  </button>
  </div>
</div> 
<!-- Debug: display editmode -->
<p>Edit mode = {{ editMode | json }}</p>

<div *ngIf="editMode">
  <p *ngIf="id >= 0">Edit existing data for user {{id}}</p>
</div>
<div *ngIf="!editMode">
  <p>Display the form to create a new User.</p>
</div>