<div class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{title}}</h2>
    </div>
  </div> 

  <!-- <div class="row">
    <div class="col-12"> -->

      <!-- Debug: display editmode -->
      <!-- <p>Edit mode = {{ editMode | json }}</p> -->

      <!-- See https://angular.io/guide/forms-overview for documentation on forms -->
      <!-- See https://getbootstrap.com/docs/4.0/components/forms/#layout for info about Bootstrap form styling -->
      <form 
        *ngIf="user"
        #userEditForm="ngForm"
        name="form" 
        (ngSubmit)="userEditForm.form.valid && onSubmit()"
        novalidate
      >
        <div class="form-row">
          <div class="form-group col-lg-12">
            <label for="firstName">Gender</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
              >
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
              >
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="option3"
              >
              <label class="form-check-label" for="inlineRadio3">Other</label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-lg-6">
            <label for="firstName">First Name</label>
            <input 
              type="text"
              class="form-control"
              [(ngModel)]="user?.name.first"
              name="firstName"
              #firstName="ngModel"
              [ngClass]="{ 
                'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)
              }"
              required
              minlength="3"
            />
            <div *ngIf="firstName.invalid && (firstName.touched)" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First Name is required</div>
              <div *ngIf="firstName.errors.minlength">First Name must be at least 3 characters long.</div>
            </div>
            <!-- Debugging inputstatus -->
            <!-- <p>firstName.invalid = {{firstName.invalid}}</p> -->
            <!-- <p>firstName.touched = {{firstName.touched}}</p> -->
            <!-- <p>firstName.dirty = {{firstName.dirty}}</p> -->
            <!-- <p>firstName.pristine = {{firstName.pristine}}</p> -->
          </div>
      
          <div class="form-group col-sm-12 col-lg-6">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="user?.name.last"
              #lastName="ngModel"
              [ngClass]="{ 
                'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)
              }"
              required
              minlength="3"
            />
            <div *ngIf="lastName.invalid && (lastName.touched)" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Lastname is required</div>
              <div *ngIf="lastName.errors.minlength">Lastname must be at least 3 characters long.</div>
            </div>
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group col-lg-8">
            <label for="inputEmail">Email</label>
            <input
              type="email"
              class="form-control"
              name="inputEmail"
              [(ngModel)]="user.email"
              #inputEmail="ngModel"
              [ngClass]="{ 
                'is-invalid': inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)
              }"
              required
              email
            />
            <div *ngIf="inputEmail.invalid" class="invalid-feedback">
              <div *ngIf="inputEmail.errors.required">Email is required</div>
              <div *ngIf="inputEmail.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <button 
              type="button"
              class="btn btn-outline-warning float-right"
              routerLink='..'
            >Cancel
            </button>
            <button 
              type="submit"
              class="btn btn-success float-right"
              [disabled]="!userEditForm.valid"
            >Save
            </button>
          </div>
        </div>

      </form>
    </div>
  <!-- </div>
</div> -->

  <p>Birthdate</p>
  
  <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  
  <hr />
  
  <pre>Month: {{ date.month }}.{{ date.year }}</pre>
  <pre>Model: {{ model | json }}</pre>

  <pre *ngIf="user">
    <!-- {{ user | json }} -->
  </pre>
