.component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: brown;
}

.counter {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: black;
}

.counter > .content {
    text-align: center;
    font-size: 2em;
    color: yellow;
}